target/
otadata_*.bin
Cargo.lock
a faire.txt
boards/board_default/firmware-s3.json
.embuild/
components_esp32s3.lock
a faire.md
walkthrough.md
build_err.log
build_err.txt
production_app/src/screen_browse.rs
diagram.json
wokwi.toml
production_app.elf
